body {
	font: 25px "Lucida Grande", "Helvetica Neue", sans-serif;
	margin: 2em;
	padding: 1.5em;
	line-height: 1.5;
	overflow-x: hidden;
}

#box {
	position: absolute;
	margin: auto;
	top: 20%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	overflow: auto;
}

#error {
	margin: 0;
	margin-top: 5%;
	text-align: center;
	font-size: 100%;
	color: rgb(255, 0, 0);
	display: none;
}

#text {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	display: none;
}

#moveSlidesText {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	text-align: center;
	display: none;
}

#progressText {
	padding: 0;
	position: absolute;
	top: 1em;
	right: 1em;
}

.consent {
	text-align: left;
	overflow-x: hidden;
}